body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 5px;
    padding: 5px;
    position: relative; 
}

h1 {
    margin-bottom: 1px;
}

h2 {
    border-bottom: 2px solid #ddd;
    margin: 7px;
    margin-top: 7px;
}

p {
    margin: 1px;
}

ol {
    padding-left: 20px;
    margin-top: 10px;
}

li {
    margin: 2px 0;
}

img {
    float: right;      /* obrazek po prawej */
    margin-right: 1120px; /* odstęp od tekstu */
    margin-top: 300px;
    width: 150px;
    height: auto;
}
